body{
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

.main-text{
    border-right: 2px solid black;
}

#main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -375px;
    width: 750px;
    height: 100px;
}

#sidebar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: 400px;
    width: 200px;
    height: 100px;
}

.rec{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 75px;
    margin-left: 400px;
}

#rec1{
    margin-top: -225px;
}

#rec2{
    margin-top: -120px;
}