body{
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

#blog-title{
    margin-top: -375px;
    margin-left: -660px;
}

.blog-header{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 100px;
}

.hidden-link{
    color: black;
    text-decoration: none;
}

#links{
    margin-top: -65px;
    margin-left: -660px;
}

#about-me{
    margin-top: -175px;
    margin-left: -660px;
}

.logo{
    width:18px;
    height:18px;
}

#github-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -610px;
}

#reddit-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -610px;
}

#blog-header-line-left {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -395px;
    width: 1px;
    height: 400px;
    border-right: solid;
}

#main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -375px;
    width: 750px;
    height: 100px;
}

#add-ar{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 25px;
    margin-left: -145px;
    margin-top: -350px;
    text-align: center;
}

#sidebar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: 420px;
    width: 200px;
    height: 100px;
}

.rec{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 75px;
    margin-left: -370px;
}

#rec1{
    margin-top: -275px;
}

#rec2{
    margin-top: -170px;
}

#rec3{
    margin-top: -65px;
}
