/*Sets the color and the font for all text in body */
body{
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

/*Sets the position for the blog title */
#blog-title{
    margin-top: -375px;
    margin-left: -660px;
}

/*For the class blog header, set the width, height and the position*/
.blog-header{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 100px;
}

/*For the class hidden-link set the color as black and remove text decoration*/
/*Is used to make links look like normal text*/
.hidden-link{
    color: black;
    text-decoration: none;
}

/*Sets the position of the links */
#links{
    margin-top: -65px;
    margin-left: -660px;
}

/*Sets the position of the about-me text*/
#about-me{
    margin-top: -175px;
    margin-left: -660px;
}

/*Sets the size for every logo*/
.logo{
    width:18px;
    height:18px;
}

/*Sets the position of the github-logo*/
#github-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -610px;
}

/*Sets the position of the reddit-logo*/
#reddit-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -610px;
}

/*Sets the position of the black line */
#blog-header-line-left {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -395px;

    /*Sets the attributes to be a line on the left*/
    width: 1px;
    height: 400px;
    border-right: solid;
}

/*Sets the position of the black line on the right */
#blog-header-line-right {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -255px;
    margin-left: 395px;

    /*Sets the attributes to be a line*/
    width: 1px;
    height: 400px;
    border-right: solid;
}

/*Sets the position of the main-text*/
#main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -375px;
    width: 750px;
    height: 100px;
}

/*Sets the dimensions, positions and the style changes for the article-title*/
.submit_title{
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;

}

/*Sets the dimensions, positions and the style changes for the subtitle-submit*/
#subtitle_submit{
  width: 35%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;}

/*Sets the dimensions, positions and the style changes for the article input*/
.submit_main{
  width: 100%;
  margin-top: 10px;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: 'Oswald', sans-serif;

}

/*Sets the dimensions, text-fonts, text-colour, borders of the buttons */
.button {
  height: 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: 'Oswald', sans-serif;
}

/*Sets the position of the save-button*/
#button-save{
    margin-left: 0px;
    margin-top: 0px;
    z-index: 1;
}

/*Sets the position of the submit-button*/
#button-submit{
    margin-left: 0px;
    margin-top: 0px;
}

/*Sets te position, width and height of the sidebar*/
#sidebar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: 420px;
    width: 200px;
    height: 100px;
}

/*For the class recommended, set the left position, border, width and height*/
.rec{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 75px;
    margin-left: 420px;
}

/*Sets the dimension of the title-picture*/
#title_picture{
    width: 750px;
    height: 375px;
}

/*Sets the top position for the first recommended article*/
#rec1{
    margin-top: -225px;
}

/*Sets the top position for the second recommended article*/
#rec2{
    margin-top: -120px;
}

/*Sets the top position for the third recommended article*/
#rec3{
    margin-top: -15px;
}

/*Sets the height and position of the all-articles button*/
#all-a{
    text-align: center;
    margin-top: 95px;
    height: 30px;
    color: black;
    text-decoration: none;
}

/*Changes the color and the text decoration*/
/*Lets a link look like normal text*/
#all-rec{
    color: black;
    text-decoration: none;
}